// VALORES PREDETERMINADO:
// Colores:
$color-base: #19035b !default;
$color-secundario: #757381 !default;

// Proporciones:
$width: calc(100% - 20px) !default;
$min-width: 100% !default;
$max-width: 1200px !default;
$min-height: 100vh !default;

::-moz-focus-inner {
  border: 0;
}

:root {
  -webkit-overflow-scrolling:touch;
  
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;

  line-height: 1.6;

  --logo-derecha: 0;

  font: {
    family: 'Roboto', sans-serif;
    size: 1rem;
  }

  // Respsive aplicado al menú de navegación:
  @media screen and ( max-width: 1000px ) {
    --display-movil: flex;
    --display-menu: none;
  }

  @media screen and ( min-width: 1001px ) {
    --display-menu: flex;
    --display-movil: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  color: #606060;
  background-color: lighten($color-base, 80);
}

p {
  line-height: inherit;
}
body {
  height: 100vh;
}

// Enlaces
a {
  text-decoration: none;
  color: $color-base;

  &:not([class]) {
    &:hover {
      text-decoration: underline;
    }
  }
}

* {
  $box-sizing: border-box;

  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;

  &::before, &::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

.width {
  --width: #{$width};
  width: var(--width);

  &--25 {
    --width: 25%;
  }

  &--50 {
    --width: 50%
  }

  &--75 {
    --width: 75%
  }
}

.max-width {
  --max-width: #{$max-width};

  max-width: var(--max-width);

  &--1 {
    --max-width: #{$max-width / 1.3};
  }

  &--2 {
    --max-width: #{$max-width / 2 };
  }

  &--3 {
    --max-width: #{$max-width / 2.3 };
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}

.min {
  &--height {
    min-height: $min-height;
  }
}

// Linea horizontal
hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid lighten($color-base, 30);
}

// pre y code
pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: lighten($color-base, 65);
  color: $color-base;

  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}


// Predeterminado
.default, .predeterminado {
  width: calc(#{$width} - 10px);
  max-width: $max-width;
  
  &:not(hr) {
    margin: 0 auto;
  }
}

.line {
  &--default, &--predeterminado {
    margin: 20px auto;
    border-left: 0; border-right: 0;
    border-top: 0;
    border-bottom: 1px solid;
    height: 0;
  }
}

.flex {
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;
  }
}

.block {
  display: block;
}