.input {
  --altura: 35px;

  border: var(--border) solid rgba( $color-base, 0.3 );
  height: var(--altura);
  border-radius: calc(var(--altura) / 2);
  padding-left: calc(var(--altura) / 2);
  padding-right: calc(var(--altura) / 2);
  background-image: none;
  font: inherit;
  outline: none;
  transition: 300ms ease;

  color: $color-base;

  &--text {
    background-color: lighten( $color-base, 75);
    outline: none;
    padding-right: 37px;

    &:focus {
      background-color: lighten( $color-base, 80 );
      border-color: $color-base;
    }
  }

  &--login {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    color: inherit;
    font-size: 1rem;

    background-color: rgba( white, 0.2 );
    width: 150px;

    &:focus {
      background-color: rgba( white, 0.9 );
      color: $color-base;
      width: 200px;
    }
  }

  &--password {
    line-height: 0;
  }
}


.button {
  --height: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  background-image: none;
  border: 0;
  padding: 0 10px;
  height: var(--height);
  border-radius: 4px;
  overflow: hidden;

  font: {
    size: 0.85rem;
  }

  &--block {
    display: block;
    max-width: max-content;
  }

  &--tel {
    display: flex;
    margin: 20px auto;
    background-color: $color-base;
    padding: 20px;
    border-radius: 7px;
    color: white;
    min-width: 200px;
    justify-content: center;
    font-weight: bold;
  
    &:hover,
    &:focus {
      background-color: lighten( $color-base, 13 );
    }

    &:active {
      transition: none;
      background-color: lighten( $color-base, 20 );
    }
  }

  &--view {
    margin: 0 auto;
    background-color: white;
    min-width: 100px;
    text-align: center;
    line-height: 0.8;
  }

  &--primary {
    background-color: $color-base;
    color: white;

    &:hover {
      background-color: lighten( $color-base, 10 );
    }

    &:active {
      transition: none;
      background-color: lighten( $color-base, 20 );
    }

    svg {
      height: 50%;
    }

    path {
      fill: white;
    }
  }

  &--circle {
    border-radius: calc(var(--height) / 2 );
    width: var(--height);
  }

  &--login {
    height: 30px;
    padding: 0 10px;
    background-image: none;
    border-radius: 3px;

    background-color: transparent;
    color: inherit;
    transition: 300ms ease;
    outline: none;
    
    &:focus {
      background-color: rgba( white, 0.3 );
    }

    &:hover {
      background-color: white;
      color: $color-base;
    }

    &:active {
      transition: none;
      background-color: darken( white, 5 );
    }
  }

  &--logout {
    margin-left: 10px;
    border: 1px solid rgba( white, 0.3 );
  }

  &--eliminar {
    background-color: darken( red, 5 );
    color: white;
    font-weight: bold;
  }

  &--archivar {
    background-color: #f06600;
    color: white;
    font-weight: bold;
  }
}

// Contenedor para las cajas de texto:
.content-input {
  --height: 37px;
  $porcentaje: 5/35 + 1;

  position: relative;
  height: var(--height);

  &__item {
    display: block;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;

    &--button {
      left: auto; right: calc(var(--border) * 2);

      svg {
        height: 40%;
      }
    }

    &--text {
      left: 0; right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.label {
  display: block;
  position: relative;
  --height: 30px;

  perspective: 200px;

  &:not(:first-of-type) {
    margin-left: 10px;
    margin-right: 10px;
  }

  &--login {

    height: var(--height);

    .input--login {
      --altura: var(--height);
    }
  }
}

.form-login {
  display: flex;
}

.login {
  height: 100%;
  padding: 0 10px;
}

.form {
  display: block;
  margin: 0 auto;
  width: 100%;

  &--content {
    padding: 10px 20px;
    width: $width;
    min-height: 50px;
    
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &--medium {
    max-width: 600px;
  }

  &--listar {
    padding-bottom: 30px;
  }

  &__label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;

    p {
      margin-bottom: 5px;
      font-weight: bold;
      font-variant: small-caps;
    }
  }

  &__text {
    border: 0;
    background-color: white;
    color: $color-base;
    padding: 10px;
    font: inherit;
    resize: none;
    border: 1px solid rgba( $color-base, 0.4 );
    width: 100%;
    transition: 300ms ease;

    &--ampliar {
      min-height: 150px;
    }

    &:focus {
      border: 1px solid $color-base;
    }
  }
}

// Grupo de botones:
.group-button {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

// Contraseñas que coinciden:
.passwords {
  transition: 300ms ease;

  &--match {
    color: #008000;
  }

  &--no-match {
    color: red;
  }
}

.pass {
  $color: #008000;
  color: $color;
  transition: 300ms ease;
  background-color: rgba( $color, 0.1 );
  padding: 5px 10px;

  &--inline-block {
    display: inline-block;
    margin-right: 10px;
  }

  &:empty {
    height: 0;
    padding: 0 0;
  }
}

// Calendario:
.calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( 7, 1fr );
  overflow: hidden;

  --gap: 0;

  // Separación entre cuadros:
  grid-gap: var(--gap);
  gap: var(--gap);

  background-color: lighten( $color-secundario, 45 );

  &--enlace {
    --icon-size: 50px;
    display: flex;
    align-items: center;

    svg {
      height: var(--icon-size);
      width: var(--icon-size);
      transition: 300ms ease;
      fill: $color-secundario;
      padding-right: 5px;
    }

    &:hover {

      svg {
        fill: $color-base;
      }
    }

    &:active {

      svg {
        fill: darken( $color-base, 2 );
        transition: none;
      }
    }
  }

  &__item,
  &__dia {
    display: flex;
  }

  &__item {
    flex-direction: column;
    padding: 5px;
    background-color: lighten( $color-secundario, 42 );
    border: 1px solid white;
    transition: 300ms ease;
    cursor: pointer;

    &:hover {
      transition: none;
      background-color: rgba( white, 1 );
    }
    
    &:active {
      background-color: rgba( $color-base, 0.05 );
    }

    &--selected {
      background-color: $color-base;
      color: white;
      transition: 300ms ease;

      &:hover {
        background-color: lighten( $color-base, 10 );
      }

      &:active {
        background-color: darken( $color-base, 2 );
        transition: none;
      }
    }
  }

  &__dia {
    width: 100%;
    align-items: center;
    justify-content: center;

    font: {
      size: 0.8rem;
    }

    &--semana {
      font-size: 0.75rem;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;

  &__select {
    background-image: none;
    height: 30px;
    border: 1px solid white;
    box-shadow: 0 0 2px $color-base;
    border-radius: 4px;
    background-color: white;
    color: $color-base;
    appearance: none;
  }
}

.calendar-admin {
  background-color: rgba( $color-base, 0.05 );
  border-radius: 10px;
  padding: 10px;

  width: $width;
  max-width: $max-width;
  margin: 20px auto;
}