.flex {
  display: flex;
  align-items: center;
  
  background-color: rgba( $color-base, 0.3 );

  &--between {
    justify-content: space-between;
  }
}

.menu {
  list-style: none;
  padding: 0;

  &__enlace {
    padding: 0 10px;
    min-height: 50px;
  }
}