<?php
// Conexión con la base de datos:
  $dsn = "mysql:dbname=loyalservice;host=127.0.0.1";
  $usuario = "usuario";
  $contraseña = "contraseña";

# INSTANCIAR EL OBJETO PDO:
$pdo = new PDO( $dsn, $usuario, $contraseña );
?>