@charset "UTF-8";
@import url(../css/roboto.css);
::-moz-focus-inner {
  border: 0;
}

:root {
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  line-height: 1.6;
  --logo-derecha: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
@media screen and (max-width: 1000px) {
  :root {
    --display-movil: flex;
    --display-menu: none;
  }
}
@media screen and (min-width: 1001px) {
  :root {
    --display-menu: flex;
    --display-movil: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  color: #606060;
  background-color: #f9f7ff;
}

p {
  line-height: inherit;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #19035b;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  --width: calc(100% - 20px);
  width: var(--width);
}
.width--25 {
  --width: 25%;
}
.width--50 {
  --width: 50% ;
}
.width--75 {
  --width: 75% ;
}

.max-width {
  --max-width: 1200px;
  max-width: var(--max-width);
}
.max-width--1 {
  --max-width: 923.0769230769px;
}
.max-width--2 {
  --max-width: 600px;
}
.max-width--3 {
  --max-width: 521.7391304348px;
}
.max-width--center {
  margin-left: auto;
  margin-right: auto;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #4208ef;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #c1adfc;
  color: #19035b;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.default, .predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.input {
  --altura: 35px;
  border: var(--border) solid rgba(25, 3, 91, 0.3);
  height: var(--altura);
  border-radius: calc(var(--altura) / 2);
  padding-left: calc(var(--altura) / 2);
  padding-right: calc(var(--altura) / 2);
  background-image: none;
  font: inherit;
  outline: none;
  transition: 300ms ease;
  color: #19035b;
}
.input--text {
  background-color: #e6dffe;
  outline: none;
  padding-right: 37px;
}
.input--text:focus {
  background-color: #f9f7ff;
  border-color: #19035b;
}
.input--login {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 150px;
}
.input--login:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #19035b;
  width: 200px;
}
.input--password {
  line-height: 0;
}

.button {
  --height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  background-image: none;
  border: 0;
  padding: 0 10px;
  height: var(--height);
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.85rem;
}
.button--block {
  display: block;
  max-width: max-content;
}
.button--tel {
  display: flex;
  margin: 20px auto;
  background-color: #19035b;
  padding: 20px;
  border-radius: 7px;
  color: white;
  min-width: 200px;
  justify-content: center;
  font-weight: bold;
}
.button--tel:hover, .button--tel:focus {
  background-color: #2b059b;
}
.button--tel:active {
  transition: none;
  background-color: #3406be;
}
.button--view {
  margin: 0 auto;
  background-color: white;
  min-width: 100px;
  text-align: center;
  line-height: 0.8;
}
.button--primary {
  background-color: #19035b;
  color: white;
}
.button--primary:hover {
  background-color: #27058c;
}
.button--primary:active {
  transition: none;
  background-color: #3406be;
}
.button--primary svg {
  height: 50%;
}
.button--primary path {
  fill: white;
}
.button--circle {
  border-radius: calc(var(--height) / 2 );
  width: var(--height);
}
.button--login {
  height: 30px;
  padding: 0 10px;
  background-image: none;
  border-radius: 3px;
  background-color: transparent;
  color: inherit;
  transition: 300ms ease;
  outline: none;
}
.button--login:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.button--login:hover {
  background-color: white;
  color: #19035b;
}
.button--login:active {
  transition: none;
  background-color: #f2f2f2;
}
.button--logout {
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.content-input {
  --height: 37px;
  position: relative;
  height: var(--height);
}
.content-input__item {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.content-input__item--button {
  left: auto;
  right: calc(var(--border) * 2);
}
.content-input__item--button svg {
  height: 40%;
}
.content-input__item--text {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.label {
  display: block;
  position: relative;
  --height: 30px;
  perspective: 200px;
}
.label:not(:first-of-type) {
  margin-left: 10px;
  margin-right: 10px;
}
.label--login {
  height: var(--height);
}
.label--login .input--login {
  --altura: var(--height);
}

.form-login {
  display: flex;
}

.login {
  height: 100%;
  padding: 0 10px;
}

.form {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.form--content {
  padding: 10px 20px;
  width: calc(100% - 20px);
  min-height: 50px;
}
.form--content:not(:last-of-type) {
  margin-bottom: 10px;
}
.form--medium {
  max-width: 600px;
}
.form--listar {
  padding-bottom: 30px;
}
.form__label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
}
.form__label p {
  margin-bottom: 5px;
  font-weight: bold;
  font-variant: small-caps;
}
.form__text {
  border: 0;
  background-color: white;
  color: #19035b;
  padding: 10px;
  font: inherit;
  resize: none;
  border: 1px solid rgba(25, 3, 91, 0.4);
  width: 100%;
  transition: 300ms ease;
}
.form__text--ampliar {
  min-height: 150px;
}
.form__text:focus {
  border: 1px solid #19035b;
}

.group-button--center {
  text-align: center;
}
.group-button--right {
  text-align: right;
}

.passwords {
  transition: 300ms ease;
}
.passwords--match {
  color: #008000;
}
.passwords--no-match {
  color: red;
}

.pass {
  color: #008000;
  transition: 300ms ease;
  background-color: rgba(0, 128, 0, 0.1);
  padding: 5px 10px;
}
.pass--inline-block {
  display: inline-block;
  margin-right: 10px;
}
.pass:empty {
  height: 0;
  padding: 0 0;
}

.calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: hidden;
  --gap: 0;
  grid-gap: var(--gap);
  gap: var(--gap);
  background-color: #fbfbfb;
}
.calendar--enlace {
  --icon-size: 50px;
  display: flex;
  align-items: center;
}
.calendar--enlace svg {
  height: var(--icon-size);
  width: var(--icon-size);
  transition: 300ms ease;
  fill: #87868a;
  padding-right: 5px;
}
.calendar--enlace:hover svg {
  fill: #19035b;
}
.calendar--enlace:active svg {
  fill: #160351;
  transition: none;
}
.calendar__item, .calendar__dia {
  display: flex;
}
.calendar__item {
  flex-direction: column;
  padding: 5px;
  background-color: #f3f3f3;
  border: 1px solid white;
  transition: 300ms ease;
  cursor: pointer;
}
.calendar__item:hover {
  transition: none;
  background-color: white;
}
.calendar__item:active {
  background-color: rgba(25, 3, 91, 0.05);
}
.calendar__item--selected {
  background-color: #19035b;
  color: white;
  transition: 300ms ease;
}
.calendar__item--selected:hover {
  background-color: #27058c;
}
.calendar__item--selected:active {
  background-color: #160351;
  transition: none;
}
.calendar__dia {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.calendar__dia--semana {
  font-size: 0.75rem;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--between {
  justify-content: space-between;
}

.text--small-caps {
  font-variant: small-caps;
}
.text--label {
  line-height: 1.2;
  padding-bottom: 10px;
}

.menu {
  --padding: 10px;
  list-style: none;
  padding: 0;
}
.menu--responsive {
  display: var(--display-menu);
  align-items: center;
}
.menu__enlace {
  padding: 0 var(--padding);
  color: inherit;
  outline: none;
  transition: 300ms ease;
}
.menu__enlace:focus {
  color: #19035b;
}
.menu__item {
  position: relative;
  border-radius: 5px;
}
.menu__item::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: var(--padding);
  right: var(--padding);
  top: auto;
  bottom: 0;
  height: 0;
  border-bottom: 2px solid;
  transition: 300ms ease;
  transform-origin: left center;
  transform: rotateY(80deg);
  opacity: 0;
}
.menu__item--selected::before, .menu__item:hover::before {
  transform: rotateX(0deg);
  opacity: 1;
}
.menu__item--selected::before {
  border-color: #3406be;
}
.menu-button {
  border: 1px solid rgba(135, 134, 138, 0.2);
  height: 30px;
  border-radius: 5px;
  transition: 300ms ease;
  background-color: white;
  outline: none;
  display: var(--display-movil);
  align-items: center;
  --color: #19035b;
}
.menu-button svg {
  height: 15px;
  margin-right: 5px;
}
.menu-button path {
  fill: var(--color);
}
.menu-button:hover {
  background-color: rgba(135, 134, 138, 0.2);
}
.menu-salir {
  display: block;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  --diametro: 35px;
  height: var(--diametro);
  width: var(--diametro);
  margin-left: auto;
  transition: 300ms ease;
}
.menu-salir:hover {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
.menu-vertical {
  list-style: none;
  padding: 0;
  width: 100%;
}
.menu-vertical__item {
  transition: 300ms ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.menu-vertical__item:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.menu-vertical__item:hover {
  transition: none;
  background-color: rgba(255, 255, 255, 0.35);
}
.menu-vertical__enlace {
  font: inherit;
  color: white;
  padding: 10px;
}
.menu-modal {
  display: var(--display-movil);
  position: fixed;
  margin: auto;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  transition: 300ms ease;
  width: 100%;
  transform-origin: center bottom;
  background-color: rgba(25, 3, 91, 0.8);
}
.menu-modal__item {
  width: 100%;
  padding: 10px;
  background-color: rgba(25, 3, 91, 0.5);
  max-width: 400px;
  margin-left: auto;
  height: 100%;
}
.menu-modal--show {
  min-height: 100px;
  color: white;
  animation: 300ms ease fadeIn 1;
  z-index: 110;
}

.header {
  --position: absolute;
  position: var(--position);
  margin: auto;
  color: #545456;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.header--default {
  --position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}
.header--panel {
  background-color: #19035b;
  color: white;
  position: relative;
  margin-bottom: 10px;
}

.navigation {
  transition: 300ms ease;
  margin: 0 auto;
  min-height: 58px;
}
@media screen and (max-width: 1000px) {
  .navigation {
    width: 1200px;
    max-width: calc(100% - 20px);
    padding: 0;
  }
}
@media screen and (min-width: 1001px) {
  .navigation {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}
.navigation--home {
  padding-right: var(--logo-derecha);
}
.navigation--default {
  width: 1200px;
  max-width: calc(100% - 20px);
  padding: 0 10px;
}
@media screen and (min-width: 1001px) {
  .navigation--default {
    width: 1200px;
    max-width: calc(100% - 20px);
  }
}

.logo {
  max-width: 100%;
}
.logo__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 790px;
  max-height: 60vh;
  width: calc(100% - 20px);
}
.logo__enlace {
  display: block;
  width: 170px;
}
.logo--horizontal {
  max-width: 200px;
  width: calc(100% - 20px);
}
.logo--vertical svg {
  max-height: 150px;
}

.section {
  --display: flex;
  --align-items: center;
  --justify-content: center;
  --min-height: 100vh;
  --padding: 30px;
  display: var(--display);
  position: relative;
  align-items: var(--align-items);
  flex-wrap: wrap;
  justify-content: var(--justify-content);
  min-height: var(--min-height);
  padding-top: calc(var(--padding) * 1.5);
  padding-bottom: var(--padding);
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.section__content {
  position: relative;
  width: calc(100% - 20px);
  max-width: 1200px;
  z-index: 1;
}
.section__text {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}
.section__text--minimum {
  max-width: 780px;
  min-height: 250px;
  min-height: 1.6;
}
.section--home {
  color: #545456;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  background-image: linear-gradient(to top, #eae4fe, white);
}
.section--services {
  background-image: url("../../multimedia/imagen/fotos/services.jpeg");
}
.section--services::after {
  background-color: rgba(230, 230, 230, 0.75);
}
.section--cards {
  background-color: #19035b;
  background-image: url("../../multimedia/imagen/fotos/catalogos.jpeg");
}
.section--cards::after {
  background-color: rgba(11, 1, 42, 0.7);
}
.section--about {
  background-image: url("../../multimedia/imagen/fotos/about.jpeg");
}
.section--about::after {
  background-color: rgba(255, 255, 255, 0.7);
}
.section--contact {
  --display: grid;
  --justify-content: initial;
  min-height: 200px;
  padding: 0;
}
@media screen and (min-width: 1100px) {
  .section--contact {
    grid-template-columns: 1.5fr repeat(3, 1fr);
  }
}
@media screen and (min-width: 740px) and (max-width: 1099px) {
  .section--contact {
    grid-template-columns: 1.5fr repeat(2, 1fr);
  }
}
@media screen and (min-width: 500px) and (max-width: 739px) {
  .section--contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 499px) {
  .section--contact {
    grid-template-columns: 1fr;
  }
}
.section__item {
  --padding: 20px;
  min-height: 100%;
  transition: 300ms ease;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}
.section__item--fondo {
  display: flex;
  align-items: center;
  background-color: #19035b;
  padding: 20px;
}
.section__item--form {
  display: flex;
  align-items: flex-end;
}
.section__button {
  text-align: center;
}

.description {
  width: calc(100% - 20px);
  max-width: 1200px;
}
.description__text {
  width: calc(100% - 20px);
  max-width: 980px;
  line-height: 1.6;
  margin: 0;
}

.cards {
  --columnas: 3;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  gap: 20px;
}
@media screen and (min-width: 490px) and (max-width: 740px) {
  .cards {
    --columnas: 2;
  }
}
@media screen and (max-width: 489px) {
  .cards {
    --columnas: 1;
  }
}
.cards__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 4px solid #19035b;
  transition: 300ms ease;
  padding: 30px 20px;
}
.cards__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #87868a;
}
.cards__img, .cards__text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.cards__title {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  letter-spacing: 5px;
  font-variant: small-caps;
}
.title--center {
  text-align: center;
}
.title--large {
  font-size: 3rem;
}
.title--xlager {
  font-size: 4rem;
}
.title--uppercase {
  text-transform: uppercase;
}
.title--base {
  color: #19035b;
}
.title--info {
  --margin: 10px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  letter-spacing: 0;
  font-size: 140%;
}

.imagen-svg {
  max-width: 100%;
}
.imagen-svg--viewport {
  --diametro: 100px;
  transition: 300ms ease;
  width: var(--diametro);
  height: var(--diametro);
}
.imagen-svg--viewport:active {
  transition: none;
  transform: scale(0.98);
}
.imagen-svg--path {
  transition: 300ms ease;
  fill: #333333;
}
.imagen-svg--path:hover {
  fill: #545456;
}

.grid {
  --columnas: 1;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  --gap: 10px;
  grid-gap: var(--gap);
  gap: var(--gap);
}
.grid--column-2 {
  --columnas: 2;
}
@media screen and (max-width: 650px) {
  .grid--column-2 {
    --columnas: 1;
  }
}
.grid--column-3 {
  --columnas: 3;
}
.grid--column-4 {
  --columnas: 4;
}
.grid--column-5 {
  --columnas: 5;
}
.grid--column-6 {
  --columnas: 6;
}
.grid--column-7 {
  --columnas: 7;
}
.grid--column-8 {
  --columnas: 8;
}
.grid--column-9 {
  --columnas: 9;
}
.grid--column-10 {
  --columnas: 10;
}
.grid--column-11 {
  --columnas: 11;
}
.grid--column-12 {
  --columnas: 12;
}
.grid__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid__caption {
  margin-top: 20px;
  padding: 30px 10px;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: columns;
  flex-wrap: wrap;
  --diametro: 250px;
  width: var(--diametro);
  height: var(--diametro);
}
.about--title {
  font-size: 2rem;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  background-color: #19035b;
  color: white;
}
.about--title .imagen-svg, .about--title svg {
  width: 100%;
  height: 100%;
  transition: 300ms ease;
  fill: #87868a;
}
.about--title .imagen-svg {
  height: 60%;
}
.about--title:hover .image-svg, .about--title:hover svg {
  fill: #19035b;
}
.about--title:hover .image-svg path, .about--title:hover svg path {
  fill: #19035b;
}

.contact {
  --border: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
}
.contact__title, .contact__info {
  padding: 10px 20px;
}
.contact__title {
  padding: 10px;
}
.contact__info--boletin {
  padding-top: 17px;
}
.contact__info--boletin p {
  padding-bottom: 7px;
}
.contact__info--boletin p:not(:first-of-type) {
  padding-top: 7px;
}
.contact p {
  margin: 0;
}
.contact--form {
  --padding: 10px;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding-right: var(--padding);
  padding-bottom: calc(var(--padding) * 4);
  padding-left: var(--padding);
}

.whatsapp,
.email,
.website {
  padding: 7px 0;
}

.social-icon {
  --diametro: 17px;
  color: #545456;
}
.social-icon svg {
  width: var(--diametro);
  height: var(--diametro);
}
.social-icon,
.social-icon path {
  transition: 300ms ease;
}
.social-icon path {
  fill: #545456;
}
.social-icon--whatsapp:focus, .social-icon--whatsapp:hover {
  color: #00b35c;
}
.social-icon--whatsapp:focus path, .social-icon--whatsapp:hover path {
  fill: #00b35c;
}
.social-icon--generico:hover {
  color: #27058c;
}
.social-icon--generico:hover path {
  fill: #27058c;
}

.warning {
  display: flex;
  align-items: center;
  height: 40px;
  color: #ff6600;
}

.portada {
  display: flex;
  align-items: center;
  height: 100vh;
}
.portada__svg {
  display: initial;
  position: relative;
  margin: 0 auto;
}
.portada__svg--left {
  height: 65%;
  width: calc(100% - 20px);
}
.portada__svg--right {
  height: 100%;
}
.portada__item {
  height: 100%;
  transition: 300ms ease;
}
.portada__item--left {
  flex-grow: 3;
  display: flex;
  align-items: center;
  background-color: white;
  background-image: linear-gradient(-30deg, rgba(25, 3, 91, 0.07), transparent);
}
.portada__item--right {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: #19035b;
}
@media screen and (orientation: portrait) {
  .portada__item--right {
    display: none;
  }
}

.update {
  padding: 20px;
  width: calc(100% - 20px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: 300ms ease;
}
.update:hover {
  transition: none;
}

.presentation {
  display: flex;
  height: calc(100vh - 80px);
}
.presentation__item {
  margin: auto;
  max-width: 600px;
  height: 100%;
  padding: 10px;
}
.presentation__item svg {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}
.grid--default {
  margin: 40px auto;
  width: calc(100% - 20px);
  max-width: 800px;
}
.grid__images {
  overflow: hidden;
  background-color: #f9f7ff;
  padding: 5px;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  min-height: 100px;
}
.grid__images img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid__item {
  position: relative;
}
.grid__item--cards {
  border: 1px solid rgba(25, 3, 91, 0.4);
  background-color: white;
}
.grid__item--enlace {
  color: #3b3b3d;
  transition: 300ms ease;
}
.grid__item--enlace h1, .grid__item--enlace h2, .grid__item--enlace h3, .grid__item--enlace h4, .grid__item--enlace h5, .grid__item--enlace h6, .grid__item--enlace p {
  margin: 0;
}
.grid__item--enlace:hover {
  background-color: rgba(135, 134, 138, 0.3);
}
.grid__item--enlace:active {
  background-color: rgba(135, 134, 138, 0.4);
  transition: none;
}
.grid__item--eliminar::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  opacity: 0;
  position: absolute;
  margin: auto;
  transition: 300ms ease;
}
.grid__item--eliminar:hover::before {
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.grid__item--eliminar:active::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition: none;
}
.grid__item--services:hover::before {
  content: "Delete Services";
}
.grid__item--catalogs:hover::before {
  content: "Delete Catalogs";
}

.length {
  text-align: right;
  color: #19035b;
}

.website {
  margin-top: 20px;
}

.grid-catalogs {
  display: grid;
  padding: 10px;
  --columnas: 4;
  --gap: 20px;
  grid-gap: var(--gap);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.grid-catalogs img {
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.grid-catalogs__item {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  overflow: hidden;
  --padding: 10px;
}
.grid-catalogs__imagen {
  position: relative;
  padding-top: 56.25%;
}
.grid-catalogs__caption {
  color: rgba(34, 22, 72, 0.9);
  border-top: 1px solid white;
}
.grid-catalogs__caption:not(:empty) {
  padding: var(--padding);
}
.grid-catalogs__caption:empty {
  display: none;
}

#catalogs-content .title {
  color: white;
}

.modal-foto {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(5, 1, 17, 0.91);
  overflow: auto;
  z-index: 100;
}
.modal-foto__salir {
  margin-left: auto;
  margin-right: 10px;
  --margin: 10px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  --diametro: 40px;
  height: var(--diametro);
  width: var(--diametro);
  background-image: none;
  background-color: transparent;
  transition: 300ms ease;
  border: 0;
  color: white;
  font-size: 1.6rem;
  border-radius: 4px;
}
.modal-foto__salir:hover {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}
.modal-foto__imagen {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.modal-foto__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.modal-foto__caption {
  padding: 20px;
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 1200px;
  color: rgba(255, 255, 255, 0.7);
}

.modal-services {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
.modal-services .title {
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #f6f5f6;
  border-left: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
.modal-services__content {
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 1px solid #e9e9e9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  --gap: 10px;
  grid-gap: var(--gap);
  gap: var(--gap);
}
.modal-services__item {
  border: 1px solid rgba(192, 192, 192, 0.3);
  padding: 0 10px;
}
.modal-services__salir {
  background-image: none;
  background-color: transparent;
  border: 0;
  font-size: 1.4rem;
  border-radius: 4px;
  --diametro: 40px;
  --separacion: 10px;
  width: var(--diametro);
  height: var(--diametro);
  color: #19035b;
  transition: 300ms ease;
  margin-left: auto;
  margin-top: var(--separacion);
  margin-right: var(--separacion);
  margin-bottom: var(--separacion);
}
.modal-services__salir:hover {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}

.info {
  display: flex;
  align-items: center;
  --color: #545456;
  --fondo: #eeeeee;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color);
  background-color: var(--fondo);
}
.info:empty {
  display: none;
}
.info--success {
  --fondo: #deedde;
  --color: #004d00;
}
.info--error {
  --fondo: #ffe1e1;
  --color: #bd0000;
}

.view-calendar {
  background-color: transparent;
  transition: 300ms ease;
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;
}
.view-calendar:hover {
  background-color: rgba(25, 3, 91, 0.07);
  padding-left: 7px;
  padding-right: 7px;
}
.view-calendar:active {
  background-color: rgba(25, 3, 91, 0.1);
  transition: none;
}

.modal-calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(230, 230, 230, 0.8);
  z-index: 100;
}
.modal-calendar__group-button {
  width: calc(100% - 20px);
  margin: 0;
  flex-grow: 0;
  flex-shrink: 1;
}
.modal-calendar__content {
  flex-grow: 1;
  width: calc(100% - 20px);
  max-width: 1200px;
  padding: 10px;
  background-color: white;
  overflow: auto;
  min-height: 100px;
}
.modal-calendar__mes {
  margin-bottom: 10px;
  padding: 10px;
  background-color: silver;
}
.modal-calendar__salir {
  display: block;
  --diametro: 40px;
  width: var(--diametro);
  height: var(--diametro);
  background-image: none;
  background-color: transparent;
  transition: 300ms ease;
  border: 0;
  border-radius: 4px;
  --separacion: 10px;
  margin-left: auto;
  margin-top: var(--separacion);
  margin-right: var(--separacion);
  margin-bottom: var(--separacion);
  font-size: 1.3rem;
  color: #f00000;
}
.modal-calendar__salir:hover {
  background-color: rgba(240, 0, 0, 0.7);
  color: white;
}
.modal-calendar__salir:active {
  transition: none;
  background-color: rgba(240, 0, 0, 0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes desplegar {
  from {
    opacity: 0;
    height: 0;
  }
}
@keyframes plegar {
  to {
    opacity: 0;
    height: 0;
  }
}
@keyframes login {
  from {
    transform: translateX(-10px) rotateY(-10deg);
  }
  to {
    transform: translateX(10px) rotateY(10deg);
  }
}
.fadeIn {
  animation: 300ms ease fadeIn 1;
}

.fadeOut {
  animation: 600ms ease fadeOut 1;
}

.desplegar {
  transform-origin: center top;
  animation: 300ms ease desplegar 1;
}

.plegar {
  transform-origin: center top;
  animation: 300ms ease plegar 1;
}

.loginAnimation {
  animation: 200ms linear login alternate 6;
}

/* Propiedades comunes del lienzo y la caja */
.lienzo,
.caja {
  --diametro: 100px;
  width: var(--diametro);
  height: var(--diametro);
}

/* Lienzo donde se ubica la circunferencia */
.lienzo {
  transform: rotateZ(-90deg);
}

/* Circunferencia */
.cir {
  fill: none;
}

/* Circunferencia con el borde fijo */
.cir--fijo {
  stroke: #87868a;
  stroke-width: 5;
}

/* Circunferencia con el borde animado */
.cir--completando {
  stroke: #19035b;
  stroke-width: 10;
  /* Matriz de guiones */
  stroke-dasharray: 440;
  stroke-dashoffset: 80;
}

/* Animación del trazo (stroke) */
.giro-trazo {
  animation: 2s ease giro-trazo infinite;
}

/* Animación de giro en intervalos de dos (02) segundos */
.giro-intervalo {
  animation: 2s ease giro-intervalo infinite;
}

/* Animación de giro constante*/
.giro-constante {
  animation: 1.5s linear giro-constante infinite;
}

/* Definición de animaciones utilizadas en 
   en las clases anteriores */
/* Desplazamiento de los guiones del trazo
   de la circunferencia */
@keyframes giro-trazo {
  50% {
    stroke-dashoffset: 440;
  }
}
/* Giro en intervalo. Se aplicará en el lienzo */
@keyframes giro-intervalo {
  0% {
    transform: rotateZ(-449deg);
  }
  50%, 100% {
    transform: rotateZ(-90deg);
  }
}
/* Animación para giro constante de 360 grados */
@keyframes giro-constante {
  from {
    transform: rotateZ(-359deg);
  }
}
.color-base {
  --color: #19035b;
}
.color-base--fondo {
  background-color: var(--color);
  color: white;
}
.color-base--frontal {
  color: var(--color);
}
.color-base--border {
  border-color: var(--color);
}

/*# sourceMappingURL=style.css.map */
