@import url(../css/roboto.css);
::-moz-focus-inner {
  border: 0;
}

:root {
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  color: #606060;
  background-color: #f9f7ff;
}

p {
  line-height: inherit;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #19035b;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  --width: calc(100% - 20px);
  width: var(--width);
}
.width--25 {
  --width: 25%;
}
.width--50 {
  --width: 50% ;
}
.width--75 {
  --width: 75% ;
}

.max-width {
  --max-width: 1200px;
  max-width: var(--max-width);
}
.max-width--1 {
  --max-width: 923.0769230769px;
}
.max-width--2 {
  --max-width: 600px;
}
.max-width--3 {
  --max-width: 521.7391304348px;
}
.max-width--center {
  margin-left: auto;
  margin-right: auto;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #4208ef;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #c1adfc;
  color: #19035b;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.default, .predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.input {
  --altura: 35px;
  border: var(--border) solid rgba(25, 3, 91, 0.3);
  height: var(--altura);
  border-radius: calc(var(--altura) / 2);
  padding-left: calc(var(--altura) / 2);
  padding-right: calc(var(--altura) / 2);
  background-image: none;
  font: inherit;
  outline: none;
  transition: 300ms ease;
  color: #19035b;
}
.input--text {
  background-color: #e6dffe;
  outline: none;
  padding-right: 37px;
}
.input--text:focus {
  background-color: #f9f7ff;
  border-color: #19035b;
}

.button {
  --height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  background-image: none;
  border: 0;
  padding: 0 10px;
  height: var(--height);
  border-radius: calc(var(--height) / 4);
  overflow: hidden;
  font-size: 0.9rem;
}
.button--block {
  display: block;
  max-width: max-content;
}
.button--tel {
  display: flex;
  margin: 20px auto;
  background-color: #19035b;
  padding: 20px;
  border-radius: 7px;
  color: white;
  min-width: 200px;
  justify-content: center;
  font-weight: bold;
}
.button--tel:hover, .button--tel:focus {
  background-color: #2b059b;
}
.button--tel:active {
  transition: none;
  background-color: #3406be;
}
.button--view {
  margin: 0 auto;
  background-color: white;
  min-width: 100px;
  text-align: center;
  line-height: 0.8;
}
.button--primary {
  background-color: #19035b;
  color: white;
}
.button--primary svg {
  height: 50%;
}
.button--primary path {
  fill: white;
}
.button--circle {
  border-radius: calc(var(--height) / 2 );
  width: var(--height);
}

.content-input {
  --height: 37px;
  position: relative;
  height: var(--height);
}
.content-input__item {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.content-input__item--button {
  left: auto;
  right: calc(var(--border) * 2);
}
.content-input__item--button svg {
  height: 40%;
}
.content-input__item--text {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--between {
  justify-content: space-between;
}

.text--small-caps {
  font-variant: small-caps;
}
.text--label {
  line-height: 1.2;
  padding-bottom: 10px;
}

.menu {
  --padding: 10px;
  list-style: none;
  padding: 0;
}
.menu__enlace {
  padding: 0 var(--padding);
  color: inherit;
  outline: none;
  transition: 300ms ease;
}
.menu__enlace:focus {
  color: #19035b;
}
.menu__item {
  position: relative;
  border-radius: 5px;
}
.menu__item::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: var(--padding);
  right: var(--padding);
  top: auto;
  bottom: 0;
  height: 0;
  border-bottom: 2px solid;
  transition: 300ms ease;
  transform-origin: left center;
  transform: rotateY(80deg);
  opacity: 0;
}
.menu__item--selected::before, .menu__item:hover::before {
  transform: rotateX(0deg);
  opacity: 1;
}
.menu__item--selected::before {
  border-color: #3406be;
}

.header {
  position: fixed;
  margin: auto;
  color: #87868a;
  background-color: transparent;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  width: 100%;
}
.logo__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 790px;
  max-height: 60vh;
  width: calc(100% - 20px);
}
.logo--horizontal {
  max-width: 200px;
  width: calc(100% - 20px);
}
.logo--vertical svg {
  max-height: 150px;
}

.section {
  --display: flex;
  --align-items: center;
  --justify-content: center;
  --min-height: 100vh;
  --padding: 30px;
  display: var(--display);
  position: relative;
  align-items: var(--align-items);
  flex-wrap: wrap;
  justify-content: var(--justify-content);
  min-height: var(--min-height);
  padding-top: calc(var(--padding) * 1.5);
  padding-bottom: var(--padding);
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.section__content {
  position: relative;
  width: calc(100% - 20px);
  max-width: 1200px;
  z-index: 1;
}
.section__text {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}
.section__text--minimum {
  max-width: 780px;
  min-height: 250px;
  min-height: 1.6;
}
.section--home {
  color: #545456;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  background-image: linear-gradient(to top, #eae4fe, white);
}
.section--services {
  background-image: url("../../multimedia/imagen/fotos/services.jpeg");
}
.section--services::after {
  background-color: rgba(230, 230, 230, 0.75);
}
.section--cards {
  background-color: #19035b;
  background-image: url("../../multimedia/imagen/fotos/catalogos.jpeg");
}
.section--about {
  background-image: url("../../multimedia/imagen/fotos/about.jpeg");
}
.section--about::after {
  background-color: rgba(255, 255, 255, 0.7);
}
.section--contact {
  --display: grid;
  --justify-content: initial;
  min-height: 200px;
  padding: 0;
}
@media screen and (min-width: 1100px) {
  .section--contact {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
@media screen and (min-width: 740px) and (max-width: 1099px) {
  .section--contact {
    grid-template-columns: 1.5fr repeat(2, 1fr);
  }
}
@media screen and (min-width: 500px) and (max-width: 739px) {
  .section--contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 499px) {
  .section--contact {
    grid-template-columns: 1fr;
  }
}
.section__item {
  --padding: 20px;
  min-height: 100%;
  transition: 300ms ease;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}
.section__item--fondo {
  display: flex;
  align-items: center;
  background-color: #19035b;
  padding: 20px;
}
.section__item--form {
  display: flex;
  align-items: flex-end;
}
.section__button {
  text-align: center;
}

.description {
  width: calc(100% - 20px);
  max-width: 1200px;
}
.description__text {
  width: calc(100% - 20px);
  max-width: 980px;
  line-height: 1.6;
  margin: 0;
}

.cards {
  --columnas: 3;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  gap: 20px;
}
@media screen and (min-width: 490px) and (max-width: 740px) {
  .cards {
    --columnas: 2;
  }
}
@media screen and (max-width: 489px) {
  .cards {
    --columnas: 1;
  }
}
.cards__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 4px solid #19035b;
  transition: 300ms ease;
  padding: 30px 20px;
}
.cards__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #87868a;
}
.cards__img, .cards__text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.cards__title {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  letter-spacing: 5px;
  font-variant: small-caps;
}
.title--center {
  text-align: center;
}
.title--large {
  font-size: 3rem;
}
.title--xlager {
  font-size: 4rem;
}
.title--uppercase {
  text-transform: uppercase;
}
.title--info {
  --margin: 10px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  letter-spacing: 0;
  font-size: 140%;
}

.imagen-svg {
  max-width: 100%;
}
.imagen-svg--viewport {
  --diametro: 100px;
  transition: 300ms ease;
  width: var(--diametro);
  height: var(--diametro);
}
.imagen-svg--viewport:active {
  transition: none;
  transform: scale(0.98);
}
.imagen-svg--path {
  transition: 300ms ease;
  fill: #333333;
}
.imagen-svg--path:hover {
  fill: #545456;
}

.grid {
  --columnas: 1;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  --gap: 10px;
  grid-gap: var(--gap);
  gap: var(--gap);
}
.grid--column-2 {
  --columnas: 2;
}
@media screen and (max-width: 650px) {
  .grid--column-2 {
    --columnas: 1;
  }
}
.grid--column-3 {
  --columnas: 3;
}
.grid--column-4 {
  --columnas: 4;
}
.grid--column-5 {
  --columnas: 5;
}
.grid--column-6 {
  --columnas: 6;
}
.grid--column-7 {
  --columnas: 7;
}
.grid--column-8 {
  --columnas: 8;
}
.grid--column-9 {
  --columnas: 9;
}
.grid--column-10 {
  --columnas: 10;
}
.grid--column-11 {
  --columnas: 11;
}
.grid--column-12 {
  --columnas: 12;
}
.grid__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid__caption {
  margin-top: 20px;
  padding: 30px 10px;
  text-align: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: columns;
  flex-wrap: wrap;
  --diametro: 250px;
  width: var(--diametro);
  height: var(--diametro);
  background-color: #19035b;
  color: white;
}
.about--title {
  font-size: 2rem;
  font-variant: small-caps;
}

.contact {
  --border: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact__title, .contact__info {
  padding: 10px 20px;
}
.contact__title {
  padding: 10px;
}
.contact__info--boletin {
  padding-top: 17px;
}
.contact__info--boletin p {
  padding-bottom: 7px;
}
.contact__info--boletin p:not(:first-of-type) {
  padding-top: 7px;
}
.contact p {
  margin: 0;
}
.contact--form {
  --padding: 10px;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding-right: var(--padding);
  padding-bottom: calc(var(--padding) * 2);
  padding-left: var(--padding);
}

.whatsapp,
.email {
  padding: 7px 0;
}

.social-icon {
  --diametro: 17px;
  color: #545456;
}
.social-icon svg {
  width: var(--diametro);
  height: var(--diametro);
}
.social-icon,
.social-icon path {
  transition: 300ms ease;
}
.social-icon path {
  fill: #545456;
}
.social-icon--whatsapp:focus, .social-icon--whatsapp:hover {
  color: #00b35c;
}
.social-icon--whatsapp:focus path, .social-icon--whatsapp:hover path {
  fill: #00b35c;
}
.social-icon--generico:hover {
  color: #27058c;
}
.social-icon--generico:hover path {
  fill: #27058c;
}

.warning {
  display: flex;
  align-items: center;
  height: 40px;
  color: #ff6600;
}

.portada {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.portada__svg {
  display: initial;
  position: relative;
  margin: 0 auto;
}
.portada__svg--left {
  height: 65%;
  width: calc(100% - 20px);
}
.portada__svg--right {
  height: 100%;
}
.portada__item {
  height: 100%;
  transition: 300ms ease;
}
.portada__item--left {
  flex-grow: 3;
  display: flex;
  align-items: center;
  background-image: linear-gradient(-30deg, rgba(25, 3, 91, 0.07), transparent);
}
.portada__item--right {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: #19035b;
}
@media screen and (orientation: portrait) {
  .portada__item--right {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    height: 0;
  }
}
.fadeIn {
  animation: 300ms ease fadeIn 1;
}

.fadeOut {
  animation: 600ms ease fadeOut 1;
}

.color-base {
  --color: #19035b;
}
.color-base--fondo {
  background-color: var(--color);
  color: white;
}
.color-base--frontal {
  color: var(--color);
}
.color-base--border {
  border-color: var(--color);
}

/*# sourceMappingURL=style.css.map */
