@import url(../css/roboto.css);
::-moz-focus-inner {
  border: 0;
}

:root {
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  color: #606060;
  background-color: #f9f7ff;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #19035b;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #4208ef;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #c1adfc;
  color: #19035b;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.default, .predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--between {
  justify-content: space-between;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu__enlace {
  padding: 0 10px;
  min-height: 50px;
  color: inherit;
}

.header {
  position: fixed;
  margin: auto;
  color: white;
  background-color: rgba(25, 3, 91, 0.5);
  left: 0;
  right: 0;
}

.logotipo {
  width: 100%;
  padding: 20px;
}
.logotipo__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 790px;
  max-height: 60vh;
  width: calc(100% - 20px);
}

.section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}
.section__content {
  width: calc(100% - 20px);
  max-width: 1200px;
  padding: 10px;
}
.section--home {
  background-color: #19035b;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section--services {
  background-color: rgba(25, 3, 91, 0.2);
}

.description {
  width: calc(100% - 20px);
  max-width: 1200px;
}
.description__text {
  width: 50%;
  line-height: 1.6;
  margin: 0;
}

.cards {
  --columnas: 3;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  gap: 20px;
}
@media screen and (min-width: 490px) and (max-width: 740px) {
  .cards {
    --columnas: 2;
  }
}
@media screen and (max-width: 489px) {
  .cards {
    --columnas: 1;
  }
}
.cards__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  border: 4px solid #19035b;
  padding: 30px 20px;
}
.cards__img, .cards__text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.cards__img {
  background-color: rgba(25, 3, 91, 0.3);
}
.cards__text {
  background-color: rgba(255, 255, 255, 0.5);
}
.cards__title {
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #c1adfc;
  max-width: max-content;
  transition: 300ms ease;
  font-size: 0.9rem;
}
.button--tel {
  display: flex;
  margin: 20px auto;
  background-color: #19035b;
  color: white;
  min-width: 200px;
  justify-content: center;
}
.button--tel:hover, .button--tel:focus {
  background-color: #2b059b;
}
.button--tel:active {
  transition: none;
  background-color: #3406be;
}

.title {
  font-size: 2rem;
  letter-spacing: 10px;
}
.title--center {
  text-align: center;
}
.title--large {
  font-size: 3rem;
  text-transform: uppercase;
}

.imagen-svg {
  max-width: 100%;
}
.imagen-svg--viewport {
  --diametro: 100px;
  transition: 300ms ease;
  width: var(--diametro);
  height: var(--diametro);
}
.imagen-svg--viewport:active {
  transition: none;
  transform: scale(0.98);
}
.imagen-svg--path {
  transition: 300ms ease;
  fill: #333333;
}
.imagen-svg--path:hover {
  fill: #5c440c;
}

/*# sourceMappingURL=style.css.map */
